/*ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset	{ margin: 0; padding: 0; }*/

body		{
	background: url(../images/bg.JPG) top left; 	
	padding: 0; margin: 0;
	font-family: Arial, Verdana, sans-serif;
	font-size: 13px;}

a img,:link img,:visited img	{	border: none; }
a								{	text-decoration: none; }
a:hover							{	text-decoration: underline; }

h1	{	font-size: 32px; letter-spacing: -2px; text-align: left; margin: 1px; padding: 0;}
h2	{}
h3	{}
h4	{}
h5	{}
h6	{}

#container	{	background-color:#fff; padding: 20px; margin: 30px; border: 3px solid #555; text-align: center;}
#header_left	{	background: url(../images/host-logo.png) no-repeat top left; height: 100px; width: 300px; }
#header_right	{	background: url(../images/3tab-logo.png) no-repeat top right; }
#content	{}
#footer		{	margin: 0 auto; font-size: 11px; text-align: center; color: #555;}

/* fieldset */
fieldset	{ border: none;}

/* tables */
table   			{	width: 100%; line-height: 13px; border-collapse: collapse; border-spacing: 0; padding: 0; margin: 0; font-weight: normal; }
th, td  			{	border-collapse: collapse; vertical-align: top; padding: 7px 2px; text-align: left;}
th					{	font-weight: bold; }
thead th, thead td	{	font-weight: bold; background-color: #333; color: #fff; padding: 8px 5px; }
table td img		{	vertical-align: middle; }
table tr.striped td	{	background-color:#E5E5E5;}

/* input */
input				{	padding: 1px; font-size: 14px; font-weight: bold;}
input[type="submit"]{	font-size: 16px; font-weight: bold; padding: 5px 18px; border: none; background-color: #222; color: #fff;}
select				{	font-weight: bold;}

/* create button */
#button			{	margin-top: 20px; }
#button a		{	font-size: 16px; font-weight: bold; padding: 7px 18px; border: none; background-color: #222; color: #fff; }
#button a:hover	{	color:#f30060; text-decoration: none;}	

/* create forms */
#form td, #form th			{	background-color: #fff; font-size: 20px; padding: 15px 0;vertical-align: middle;}
#form th					{	vertical-align: top;}
#form input, #form select	{	font-size: 20px; padding: 2px; }
#form label		{	font-size:16px; font-weight: bold;}
span.red		{	font-size: 130%; color:#ff0000;}
.error          {   font-size: 85%; color:#ff0000; }

/* tabs */
#nav			{	list-style-type: none; padding: 0; margin: 0;font-size: 17px; }
#nav li			{	display:inline; padding: 8px; background-color:#777; color:#f2f2f2;
					letter-spacing: -1px; }
#nav li a		{	font-weight: bold; text-transform: uppercase; color:#f2f2f2; text-decoration:none;}
#nav li a:hover	{	color: #f30060;}

#subnav			{	}
#subnav	li		{	display:inline; padding: 5px; }
